:root {
  --text: rgba(0, 0, 0, 0.88);
  --text-revert: #fff;
  --text-muted: rgba(0, 0, 0, 0.24);
  --background-shell: #fff;
  --background-content: #f5f5f5;
  --background-card: rgba(255, 255, 255, 0.48);
  --background-transparent: rgba(0, 0, 0, 0.6);
  --table-head-cell: #fafafa;
  --table-body-cell: #fff;
  --table-border: #f0f0f0;
  --color-primary: #1677ff;
  --color-primary-rgb: 22, 119, 255;
  --color-danger: #ff4d4f;
}

body.dark-mode {
  --text: #fff;
  --text-revert: rgba(0, 0, 0, 0.88);
  --text-muted: rgba(255, 255, 255, 0.24);
  --background-shell: #1f1f22;
  --background-content: #313033;
  --background-card: rgba(31, 31, 34, 0.48);
  --background-transparent: rgba(255, 255, 255, 0.6);
  --table-head-cell: #1f1f22;
  --table-body-cell: #313033;
  --table-border: #1f1f22;
  --color-primary: #1677ff;
  --color-primary-rgb: 22, 119, 255;
  --color-danger: #ff4d4f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
}

html {
  background-color: #fff !important; /* Can't use var here, don't know why */
}
html.dark-mode {
  background-color: #1f1f22 !important; /* Can't use var here, don't know why */
}

body,
#root {
  background-color: transparent !important;
}

p,
h1,
h2,
h3,
h4,
h5 {
  color: var(--text);
  margin-bottom: 0.6em;
}

/* Light mode scrollbar */
::-webkit-scrollbar {
  width: 16px;
  height: 12px;
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  height: 8px;
  border-radius: 8px;
}
::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb:vertical {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.2);
}

/* Dark mode scrollbar */
.dark-mode ::-webkit-scrollbar {
  width: 16px;
  height: 12px;
  background: rgba(255, 255, 255, 0);
}
.dark-mode ::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  height: 8px;
}
.dark-mode ::-webkit-scrollbar-track:hover {
  background: rgba(255, 255, 255, 0.04);
}
.dark-mode ::-webkit-scrollbar-thumb:vertical {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
}
.dark-mode ::-webkit-scrollbar-thumb:horizontal {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.08);
}
