.container {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: auto 1fr;
  gap: 16px;
  height: 100%;
}

.selectBtn {
  grid-column: 1 / -1;
  width: 100%;
}

.player {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  align-items: end;
  height: 100%;
}

.content {
  overflow-y: scroll;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
  background-color: var(--card-background);
}
