.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: var(--background-1);
  opacity: 0.9;
}

.title {
  flex: 1;
  margin-left: 16px;
  font-size: 24px;
}

.appIconsContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.appDropdown {
  display: none;
}

.iconGroup {
  display: flex;
  gap: 16px;
}

.iconButton {
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .dropDownLabel {
    display: none;
  }

  .iconGroup {
    display: none;
  }

  .appDropdown {
    display: inline-block;
  }
}
