.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 16px;
  background-color: var(--background-1);
  opacity: 0.9;
}

.title {
  flex: 1;
  margin-left: 16px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.appIconsContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.appDropdown {
  display: inline-block;
}

.iconGroup {
  display: flex;
  gap: 12px;
  align-items: center;
}

.iconButton {
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: none;
}

@media (max-width: 1280px) {
  .dropDownLabel {
    display: none;
  }

  .iconGroup {
    display: none;
  }
}
