.sectionContainer {
  position: relative;
}

.sectionOptions {
  position: absolute;
  top: -12px;
  left: 0px;
  background-color: var(--background-shell);
  opacity: 0;
  border-radius: 8px;
  transition: top 0.4s ease-out, opacity 0.4s ease-out;
}
.sectionContainer:hover .sectionOptions {
  opacity: 0.4;
  top: -16px;
}
.sectionOptions:hover {
  opacity: 1 !important;
}
