.menu {
  position: fixed;
  bottom: 12px;
  right: 12px;
  opacity: 0.2;
  transform: scale(0.86);
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  z-index: 999;
}
.menu:hover {
  opacity: 1;
  transform: scale(1);
}
