.parentContainer {
  position: relative;
}
.parentContainer:hover .buttons {
  top: -12px;
  right: -12px;
  opacity: 1;
}

.buttons {
  position: absolute;
  top: 0px;
  right: -12px;
  opacity: 0;
  transition: opacity 0.4s ease-out, top 0.2s ease-out;
  z-index: 999;
}

.container {
  width: 100%;
  overflow-x: auto;
}

.pianoContainer {
  width: 1280px;
  margin: auto;
  height: 192px;
  overflow: auto;
}

.piano {
  display: flex;
  width: fit-content;
  transform-origin: top left;
}

.registerContainer {
  width: 168px;
  overflow: hidden;
}

.register {
  display: flex;
  position: relative;
  width: fit-content;
}

.register div:nth-child(2) {
  transform: translateX(-7px);
}
.register div:nth-child(3) {
  transform: translateX(-14px);
}
.register div:nth-child(4) {
  transform: translateX(-21px);
}
.register div:nth-child(5) {
  transform: translateX(-28px);
}
.register div:nth-child(6) {
  transform: translateX(-28px);
}
.register div:nth-child(7) {
  transform: translateX(-35px);
}
.register div:nth-child(8) {
  transform: translateX(-42px);
}
.register div:nth-child(9) {
  transform: translateX(-49px);
}
.register div:nth-child(10) {
  transform: translateX(-56px);
}
.register div:nth-child(11) {
  transform: translateX(-63px);
}
.register div:nth-child(12) {
  transform: translateX(-70px);
}
